.resource-search  {
    width: 100%;
    position: relative;
    margin-top: -10%;
}

.resource-search span, .resource-search input {
    width: 100%;
}


.risk-1 {
    background-color: rgb(254, 240, 217) !important;
    color: #343a40 !important;
}

.risk-2 {
    background-color: rgb(253, 212, 158) !important;
    color: #343a40 !important;
}

.risk-3 {
    background-color: rgb(253, 187, 132) !important;
    color: #343a40 !important;
}

.risk-4 {
    background-color: rgb(252, 141, 89) !important;
}

.risk-5 {
    background-color: rgb(227, 74, 51) !important;
}

.risk-6 {
    background-color: rgb(179, 0, 0) !important;
}

.capital-select {
    position: relative;
    margin-top: -20%;
}

.collapsible {
    margin-top: 5px;
    text-align: left;
}

.collapsible:after {
    /*content: '\002B';*/
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
