<!DOCTYPE html>
{% from "macros.html" import nav_link with context %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <title>{{ title }} - Travel Synergy</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Travel Synergy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ nav_link("home", "Country Info")}}
            {{ nav_link("events", "Event Search")}}
            {{ nav_link("presets", "Preset Views")}}
        </ul>

        <button class="btn btn-info my-2 my-sm-0" onclick="w3_toggle()">Sidebar</button>

    </div>
</nav>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;width:20%" id="mySidebar">
    <div class="container">
        <h3>❤ Guide ❤</h3>
        <hr>
        <button type="button" class="btn btn-outline-success btn-lg btn-block collapsible"
                onclick="collapse_sibling(this)">Country Info
        </button>
        <div class="content"><p> It shows a world map with a coloring of the countries according to their risk level. On
            the map, a selected
            number of capitals are shown that have good weather in the summer months. Clicking a country reveals country
            information such as the country name, the risk level, the used currency and the continent the country is
            located on. Clicking a capital icon shows selected weather information.</p></div>
        <button type="button" class="btn btn-outline-info btn-lg btn-block collapsible"
                onclick="collapse_sibling(this)">Event Search
        </button>
        <div class="content"><p>This view is a visualization of which countries have articles where a search term is
            mentioned.</p></div>
        <button type="button" class="btn btn-outline-warning btn-lg btn-block collapsible"
                onclick="collapse_sibling(this)">Preset Views
        </button>
        <div class="content"><p></p></div>
    </div>
</div>
<div>
    {% block content %}{% endblock %}
</div>
<script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>