<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">-->
    <title>{{ title }} - Travel Synergy</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>☺</h1>
        </div>
    </div>
</div>
 {% block content %}{% endblock %}

<!--<script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>-->
</body>
</html>