<!DOCTYPE html>
{% from "macros.html" import nav_link with context %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <title>{{ title }} - Travel Synergy</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Travel Synergy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {{ nav_link("home", "Country Info")}}
        {{ nav_link("events", "Event Search")}}
      </li>
    </ul>
  </div>
</nav>
<div class="container">
</div>
{% block content %}{% endblock %}

<!--<script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>-->
</body>
</html>