{% extends "index.html" %}

{% block content %}
<div class="container" id="presets_container">
    <div>
        <select class="form-control form-control-lg" id="view_select">
            <option value="top10_vacc">Top-10 Vaccination Coverage</option>
            <option value="safe_asia">Safest countries in Asia</option>
            <option value="measles">Measles - No Herd immunity</option>
        </select>
    </div>
    <div id="mapid">
        {{ foliummap|safe}}
    </div>

</div>

    <script>
let sel = document.getElementById('view_select');
sel.addEventListener ("change", function () {
    $.ajax({
            url:"http://localhost:5000/sendPreset",
            type: "POST",
            data: JSON.stringify({'value': $('#view_select').children("option:selected").val()}),
            crossDomain: true,
            dataType: 'html',
            contentType: 'application/json; charset=utf-8',
            success: function(response) {
                window.parent.postMessage(response, "*");
                const map_div = document.getElementById('mapid');
                while (map_div.firstChild) {
                    map_div.removeChild(map_div.firstChild);
                }
                console.log(response)
                map_div.innerHTML = response;
            },
            error: function(err) {
                console.log('something went wrong')
                console.error(err)
            }
        });
});
</script>
{% endblock %}
